
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span style="font-size: 3em; color: #ffffff; margin-left: 0px;">
      <i class="fas fa-camera"></i>
  </span>
  <span>{{name}}</span>
  <span> </span>
  <div class="spacer"></div>
  <span>Le jeu dont vous êtes le héros</span>
    <div class="spacer"></div>
</div>

<div>
<span>{{name}}</span>
</div>

<app-start *ngIf="page === 'Intro'" (start)="start($event)"></app-start>
<app-component-test *ngIf="page !== 'Intro'" [page]="page"> </app-component-test>

<router-outlet></router-outlet>
