<div class="content">

<h2>Bienvenue !</h2>
<p>Quel est ton nom ?</p>

    <form class="example-form">
    
    <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" required placeholder="Entrer votre nom ici." (keyup)="onKeyUp($event)">
    </form>

<!--<div class="card highlight-card card-small">
    <span style="margin-left: 0px">Welcome !</span>
  </div>-->

  <div *ngIf="!!name && name.length !== 0" id="goTo" class="card-container">
    <div class="card card-small" (click)="onClick()">
    <i class="fas fa-caret-right"></i>Start<i class="fas fa-caret-left"></i>
    </div>
 </div>

</div>
