<div class="content">
  <div class="card highlight-card card-small">
    <span style="font-size: 3em; color: #ffffff; margin-left: 0px;">
      <i class="fas fa-camera"></i>
      <i class="fas fa-fist-raised"></i>
      <i class="fas fa-drumstick-bite"></i>
      <i class="fas fa-shoe-prints"></i>
    </span>
    <span> </span>
    <span style="margin-left: 0px">Page actuelle : {{page}}</span>
  </div>
 </div>

 <div id="description">
 <h3>
  <span style="margin-left: 0px">{{description}}</span>
  </h3>
 </div>


 <div id="goTo" class="card-container">
    <div class="card card-small" *ngFor="let nextPage of nextPages" (click)="load(nextPage)">
    <i class="fas fa-caret-right"></i>{{nextPage}}<i class="fas fa-caret-left"></i>
    </div>
 </div>



<!--<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Default checkbox
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Checked checkbox
  </label>
</div>-->
